.time {
  font-family: "Courier New";
  /*font-size: 2rem;*/
}

.localeClock {
  border: .1rem solid black;
  width: 33%;
  margin-bottom: 1rem;
}

.locationString {
  /*overflow-wrap: break-word;*/
}

.clockGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 5%;
}

@media all and (max-width: 375px) {
  body {
    margin: 1%;
  }
}